// Global header
// -------------------------
.global-header {
    padding-top: 23px;
    background-color: #e4e4e4;
    #gradient > .vertical(#fff, #e4e4e4);
    .box-shadow(0px 1px 1px 0px #cfcfcf);
    position: relative; // To make box-shadow overlap slider

    // Header logo
    .header-logo {
        margin: 0 0 15px;

        a {
            .ir;
            width: 136px;
            height: 32px;
            display: block;
            margin: auto;
            background: url(../img/header-logo.png) no-repeat;
        }
    }

    // Tagline
    .tagline {
        color: #454545;
        font-size: 12px;
        text-align: center;
        margin: 0 0 14px;
    }
}
