// Featured content slider
// -------------------------
.slider {
    background-color: #fff;

    .slides {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .slide {
        font-size: @baseFontSize + 1;
        padding: 35px 10px 10px;

        p {
            line-height: @baseLineHeight + 0.25;
        }
    }

    .slide-title {
        color: @brandColor;
        font-size: @baseFontSize + 18;
        font-weight: normal;
        margin: 0 0 10px;
    }

    .learn-more {

        a {
            color: @brandColor;
            font-weight: bold;

            &:after {
                content: "\00a0\003e"; // " >"
            }
        }
    }

    // A fresh new start slide
    .new-start {

        .slide-title {}
    }
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    // Featured content slider
    // -------------------------
    .slider {

        .slide {
            padding: 35px 20px 20px;
        }

        .slide-title {
            font-size: @baseFontSize + 28;
        }
    }
}

// 40em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    // Featured content slider
    // -------------------------
    .slider {

        .slide {
            padding: 35px 30px 20px;
        }
    }
}

// @desktopWidth devices and up
// -------------------------
@media only screen and (min-width: @desktopWidth) {

    // Featured content slider
    // -------------------------
    .slider {

        .slide {
            padding: 35px 40px 20px;
        }
    }
}
