// Variables
// -------------------------

// Base font family
@baseFontFamily:            "OpenSansRegular", sans-serif;

// Base font size
@baseFontSize:              12px;

// Base line height
@baseLineHeight:            1.45;

// Brand colour
@brandColor:                #c62222;

// Body text colour
@textColor:                 #323232;

// Links
@linkColor:                 @textColor;
@linkColorHover:            lighten(@linkColor, 5%);
